<ul class="list-group">

  <li *ngFor="let article of post" class="list-group-item"
      [ngClass]="{'list-group-item': true}"
      [ngStyle]="{'backgroundColor'  : (article.like > article.dislike) ? '#b0f2b6'
                                     : (article.like < article.dislike) ? '#ffb2ae' : '#ffffff'}">

    <h4 [ngStyle]="{'color': (article.like > article.dislike) ? green : red}">{{ article.title }}</h4>
    <i>{{ lastUpdate | async | date: 'short' }}</i>
    <p class="clear">{{ article.content }}</p>

    <button type="button" class="btn btn-success btn-sm list-group-item-success"
            (click)="article.like = article.like + 1">Like it  <!--{{article.like}}--> </button>
    <button type="button" class="btn btn-danger btn-sm list-group-item-danger"
            (click)="article.dislike = article.dislike + 1">Don't like it  <!--{{article.dislike}}--></button>


  </li>
</ul>

